@import url('https://fonts.googleapis.com/css2?&family=Antic+Slab&family=Rampart+One&family=Bebas+Neue&family=Red+Hat+Display&display=swap');

// Variables
@import './variables.scss';

// Modules
@import './header.module.scss';
@import './footer.module.scss';
@import './links.module.scss';
@import './home.module.scss';
@import './modal.module.scss';
@import './notfound.module.scss';
@import './loading.module.scss';

* {
	padding: unset;
	margin: unset;

	a {
		color: inherit;
	}

	button,
	input {
		border: unset;
		font-family: inherit;
		padding: 0.75rem 1rem;

		&:focus-visible {
			outline: none;
			outline: 2px solid;
		}
	}

	button {
		cursor: pointer;
		transition: all 250ms ease-in-out;

		&:hover {
			background: $color-gray;
		}
	}
}

:root {
	font-size: 13px;
	color: $color-light;
	box-sizing: border-box;
	background: $color-dark;
	font-family: 'Antic Slab', sans-serif;

	@media (min-width: 475px) {
		font-size: 14.5px;
	}
	@media (min-width: 768px) {
		font-size: 1rem;
	}
}

.bounce {
	&-enter-active {
		animation: bounce-in 0.5s;
	}

	&-leave-active {
		animation: bounce-in 0.5s reverse;
	}

	@keyframes bounce-in {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(1.15);
		}
		100% {
			transform: scale(1);
		}
	}
}

.shrink {
	&-enter-active {
		animation: shrink-in 0.5s;
	}

	&-leave-active {
		animation: shrink-in 0.5s reverse;
	}

	@keyframes shrink-in {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
